<!-- skeleton goes in here -->
<!DOCTYPE html>
<html>
<head>
  <title>rcb redit</title>
  <!-- added bootstrap cdn -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- adding javascript cdn -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- replaces the individual files and pushes them in here  -->
{{{ body }}}
</body>
</html>
