<h1>Submit new post</h1>

<form method='POST' action='/new-post'>
<!-- title -->
    Title:<input type="text" name="title">
    <!-- description -->
   Description:<input type="text" name="description">
   <!-- image url -->
   Image Url:<input type="text" name="image">
   <button type="submit">Submit Post</button>


</form>